<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ css_path }}/account_login.css">
<title>User Login</title>
</head>
<body>

    
<div class="container">
{# set image_path = image_path() #}
<p>{# print_r(image_path) #}</p>


{% if flash or error %}
  {{ flash }}
  {{ error }}
{% endif %}
  <form action="" method="post" class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus value="{{ username }}" />
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password" value="{{ password }}" />
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" name ="sign_in" value="sign_in" type="submit">Sign in</button>
  </form>
</div> <!-- /container -->

</body>
</html>
